[2016-02-04 20:15] naucoin opened #4 "duplicate files"
Clean up of duplicated files:

ShortCut/ShortCutCore/Logic/ShortCut.cpp
QuickTCGAEffect/QuickTCGA/Logic/ShortCut.cpp

ShortCut/ShortCutCore/Logic/ShortCut.h
QuickTCGAEffect/QuickTCGA/Logic/ShortCut.h

ShortCut/ShortCutCore/Logic/utilities.h
QuickTCGAEffect/QuickTCGA/Logic/utilities.h

[2016-02-23 14:18] ebremer commented on #4
Resolved.

[2016-02-23 14:18] #4 closed

[2016-02-27 05:58] jcfr opened #6 "Avoid duplicattion of code in ShortCutCoreSegmenter and QuickTCGASegmenter"
Code in both implementation is roughly the same. It seems `ShortCutCoreSegmenter` is a little cleaner.

I the suggest to:
* [ ] Move `TCGAUtilities.h` into `ShortCutCore`  (and rename it into `ShortCutCoreUtilities.h`)
* [ ] Remove `QuickTCGASegmenter.(h}cxx)`
* [ ] Re-order module in top level `CMakeLists.txt` so that `ShortCut` ones are first
* [ ] Update `vtkQuickTCGA` to link and use `ShortCut

[2016-02-27 05:58] jcfr opened #7 "Rename `ShortCutCore` into `ShortCut`"
That would be consistent with `QuickTCGA`

[2016-02-27 06:02] jcfr opened #8 "Relocate `NucleusSeg_Yi` into root directory and rename `SegmentNucleus`"
This could include a CLI and a library linked off other modules.

[2016-02-27 06:24] jcfr opened #9 "Idea for clean organization of SegmentNucleus"
The following could be done:

In `<extensionroot>/SegmentNucleus`, have a CMakeLists.txt like this ...

[code]

I  also  suggest to remove these files:

[code]

[2016-03-02 20:23] naucoin commented on #6
Loading the extension I get these warnings on Mac:

[code]

[2016-03-03 20:34] naucoin opened #11 "Fix find children issue"
In the QuickTCGAEffect:
QuickTCGAEffect.py", line 74, in create
    self.structuresView =
slicer.util.findChildren(slicer.modules.SlicerPathologyWidget.editorWidget.volumes, 'StructuresView')[0]
AttributeError: 'module' object has no attribute 'SlicerPathologyWidget'

There is a slicer pathology attribute on the module object, but I wasn¹t
able to quickly get at the StructuresView child so I¹ll le

[2016-03-09 14:04] ebremer commented on #11
This line exists in the code.  I'm not entirely sure what you are asking/commenting on here

[2016-03-09 15:08] naucoin commented on #11
It's not working on my build, that line causes the error I included above.

[2016-03-31 19:18] fedorov commented on #9
@ebremer what do you think about JC's suggestion?

[2016-03-31 19:18] fedorov commented on #8
@ebremer what do you think?

[2016-03-31 19:19] fedorov commented on #7
@ebremer what do you think?

[2016-04-28 19:49] ebremer commented on #8
I'm fine with this

[2016-04-28 19:50] ebremer commented on #7
I'm fine with this.

[2016-04-28 19:50] ebremer commented on #9
Looks good.

[2016-04-28 19:52] ebremer commented on #6
Shortcut was created initially as a copy of QuickTCGA since they were two effect wrapped into one.  It made more sense to me to split them.  Not all of the code is pertinent to both modules and only exists due to my method of splitting the one effects module.  I will spend some time and just delete the duplicate code.  My thought behind this was to become more familiar with the code since I inheri

[2016-04-28 19:53] ebremer commented on #11
I have not been able to reproduce on Ubuntu platform.

[2016-04-28 20:04] ihnorton opened #15 "github header URL typo"
![image](https://cloud.githubusercontent.com/assets/327706/14899601/d2488768-0d5a-11e6-9748-511ac3be1c5a.png)

[2016-04-28 21:19] naucoin commented on #11
It seems to have been resolved, no longer reproducible on my Mac as well.

[2016-04-28 21:19] #11 closed

[2016-04-28 22:32] naucoin commented on #15
@ihnorton I'm not spotting it, where is this typo?

[2016-04-28 22:50] ihnorton commented on #15
There is an unnecessary **C** at the 6th-to-last character of the URL (red arrow in image above). Only happened to notice when I clicked on the link and it didn't work.

[2016-04-29 13:14] naucoin commented on #15
I see the extra C in the URL you pasted above, but I can't find that string in the git checkout of SlicerPathology so I can't figure out where it needs to be changed. Where were you when you clicked on the link?

[2016-04-29 13:23] ihnorton commented on #15
It's the header on the repository:

https://github.com/SBU-BMI/SlicerPathology

With sufficient repo privileges (owner? not sure) there should be an "Edit" button next to the banner when you are logged in.

[2016-04-29 13:25] naucoin commented on #15
Got it, thanks for the clarification!

[2016-04-29 13:25] #15 closed

[2016-05-02 14:50] jcfr opened #21 "QuickTCGA: Build failure on MacOSX 10.6 using Clang"
[code]

See http://slicer.cdash.org/viewBuildError.php?buildid=820564

Solution: http://stackoverflow.com/questions/3152330/ambiguous-pow-function

[2016-05-02 15:01] #21 closed

[2016-05-02 18:59] jcfr opened #23 "Fix windows build error related to missing "sys/time.h""

[2016-05-02 18:59] jcfr commented on #23
xref Slicer/Slicer#485

[2016-05-02 19:03] jcfr opened #24 "MeanshiftClusteringFilter: Fix -Wsign-compare"
[code]

[2016-05-02 19:04] jcfr opened #25 "SFLSSegmentor2D.hxx: Fix -Wnarrowing"
[code]

[2016-05-02 19:04] jcfr opened #26 "TCGAUtilities.cxx: Fix -Wmaybe-uninitialized"
[code]

[2016-05-02 19:08] #23 closed

[2016-05-02 19:08] jcfr opened #28 "ShortCutCoreSegmenter::RefineShortCut: Fix windows link error"
[code]

[2016-05-02 19:08] jcfr commented on #28
xref Slicer/Slicer#485

[2016-05-02 19:11] jcfr commented on #28
It turns out that the `TCGAUtilities` symbols included in `vtkSlicerQuickTCGAModuleLogic` shared library are not exported.

[2016-05-02 19:29] #28 closed

[2016-05-02 19:46] #26 closed

[2016-05-02 19:47] fedorov commented on #25
cc @gaoyi

[2016-05-02 19:48] fedorov commented on #24
cc @gaoyi

[2016-05-02 20:23] #25 closed

[2016-05-02 20:44] jcfr commented on #25
@gaoyi The check using the traits introduces a runtime cost ... if this is an issue, you may consider alternative illustrated in this ITK Merge Request that is addressing similar problem within ITK proper: http://review.source.kitware.com/#/c/20853/

[2016-05-02 21:14] jcfr opened #33 "Fix Normalization.cpp Visual Studio warnings"
* [x] `Warning	1	warning C4305: 'initializing' : truncation from 'double' to 'float'	C:\D\N\S-1-E-b\SlicerPathology\QuickTCGA\Logic\NucleusSeg_Yi\Normalization.cpp	252	1	NucleiSegLib`

* [x] `Warning	2	warning C4305: 'initializing' : truncation from 'double' to 'float'	C:\D\N\S-1-E-b\SlicerPathology\QuickTCGA\Logic\NucleusSeg_Yi\Normalization.cpp	447	1	NucleiSegLib`

* [x] `Warning	3	warning C4244

[2016-05-02 21:14] jcfr commented on #33
xref Slicer/Slicer#485

[2016-05-02 21:22] #24 closed

[2016-05-02 22:36] #33 closed

[2016-05-04 13:47] fedorov opened #35 "Runtime error - 'module' object has no attribute 'EditorWidget'"
While running the module packaged on Mac, I get the following runtime error

[code]

No idea why this is happening only in the binary version of Slicer (it apparently worked on the developer build).

cc: @pieper - any suggestions here?

[2016-05-04 13:48] fedorov commented on #35
Code line in question:

https://github.com/SBU-BMI/SlicerPathology/blob/master/ShortCutEffect/ShortCutEffect.py#L332

[2016-05-04 13:51] pieper commented on #35
slicer.modules.EditorWidget is only created when you enter the Editor
module itself so you should check if it exists before using it.

On Wed, May 4, 2016 at 9:48 AM, Andrey Fedorov notifications@github.com
wrote:

[2016-05-04 13:52] fedorov opened #36 "Runtime error - possible packaging problems"
While running the module packaged on Mac, I get the following runtime error

[code]

@naucoin I expect that you are checking the packaged extensions and investigate this kind of issues.

[2016-05-04 13:55] fedorov opened #37 "User interface and documentation require improvements"
The following issues must be fixed:

1) the module has 2 effects buttons with identical icons but different panels - please use different icons

2) buttons in the effect panels have no text - please add meaningful text

3) please populate documentation pages so that users of the module not familiar with the functionality could (like me) have a shot at using it: http://wiki.slicer.org/slicerWiki/in

[2016-05-04 15:16] fedorov opened #38 "Add meaningful icons"
Extension icons should be created, and the default icons should be replaced:

https://github.com/SBU-BMI/SlicerPathology/blob/master/SlicerPathology.png
https://github.com/SBU-BMI/SlicerPathology/tree/master/SlicerPathology/Resources/Icons

[2016-05-04 16:36] fedorov opened #39 "Manual packaging for Windows and Lunux"
Need to prepare manually packaged Slicer, SlicerOpenCV and SlicerPathology for Linux and Windows to support SBU group, while the dashboard issues are being resolved.

@naucoin would be great if you could work on this

cc: @jcfr

[2016-05-04 16:37] jcfr commented on #39
I am currently working on the dashboard.

I gonna manually trigger the build so they are available with the latest nightly. Would that work for you all ?

[2016-05-04 16:40] fedorov commented on #39
JC, sure - if this will work, this would be great. This will first give us idea if it builds correctly on all platforms. I was not sure, since SlicerPathology was only built for Mac in the last two days.

[2016-05-04 16:42] fedorov commented on #39
There is still the svn not found error for SlicerOpenCV on Windows

http://slicer.cdash.org/viewBuildError.php?buildid=821730

![image](https://cloud.githubusercontent.com/assets/313942/15021564/90937428-11f5-11e6-99ef-c165e3ce8c27.png)

[2016-05-04 16:55] naucoin commented on #39
I'll work on getting backup builds ready.

[2016-05-04 17:17] jcfr commented on #39
Issue has been identified.

Windows build for SlicerOpenCV, OpenCVExample and SlicerPathology have been restarted ... and packages are now available for all platforms.

|  | SlicerOpenCV | OpenCVExample | SlicerPathology |
| --- | --- | --- | --- |
| Linux | [link](http://slicer.kitware.com/midas3/slicerappstore?os=linux&arch=amd64&revision=25043&category=&search=OpenCV&layout=layout) | [link](htt

[2016-05-04 17:36] naucoin commented on #39
Awesome @jcfr , thanks!

[2016-05-04 18:32] naucoin commented on #39
On Mac after downloading the Slicer nightly build and installing the SlicerOpenCV and SlicerPathology packages from the above links, on start up I'm getting this error:

`Error(s):
    Cannot load library /Users/nicole/Desktop/Slicer.app/Contents/Extensions-25043/SlicerOpenCV/lib/Slicer-4.5/qt-loadable-modules/libqSlicerOpenCVModule.dylib: (dlopen(/Users/nicole/Desktop/Slicer.app/Contents/Extensio

[2016-05-04 18:39] jcfr commented on #39
Thanks for the report. I will investigate and report back.

[2016-05-04 19:06] naucoin commented on #39
On my mac, reconfiguring and building SlicerOpenCV from scratch, I'm currently stuck at:
`[  7%] Linking CXX shared library ../../lib/Slicer-4.5/qt-loadable-modules/libvtkSlicerOpenCVModuleLogic.dylib
ld: library not found for -lqSlicerBaseQTCLI`
but I think downloading and installing the nightly + some extensions may have left my dev build in an odd state, recompiling.

[2016-05-04 19:22] jcfr commented on #39
could you check that your Slicer build contains that library ?

[2016-05-04 19:22] naucoin commented on #35
@fedorov @pieper Pull request with a patch: https://github.com/SBU-BMI/SlicerPathology/pull/40

[2016-05-04 19:48] naucoin commented on #39
Searching more carefully, something's wrong in my build dir, I have in my Slicer-build dir:
'./bin/libqSlicerBaseQTCLI.dylib
./bin/libqSlicerBaseQTCLIPythonD.dylib
./bin/qSlicerBaseQTCLICxxTests
./bin/qSlicerBaseQTCLIPython.so
./bin/qSlicerBaseQTCLIPythonQt.so'
but also:
'./Slicer-build/bin/libqSlicerBaseQTCLI.dylib
./Slicer-build/bin/libqSlicerBaseQTCLIPythonD.dylib
./Slicer-build/bin/qSlicerBase

[2016-05-04 22:09] naucoin commented on #39
Clean builds are done.
SlicerOpenCV: When I do a make package and install from file from the one I built, on restart of the nightly build I get:
`Error(s):
    Cannot load library /Users/nicole/Desktop/Slicer.app/Contents/Extensions-25043/SlicerOpenCV/lib/Slicer-4.5/qt-loadable-modules/libqSlicerOpenCVModule.dylib: (dlopen(/Users/nicole/Desktop/Slicer.app/Contents/Extensions-25043/SlicerOpenCV/lib

[2016-05-05 00:08] jcfr commented on #39
Should be fixed by [r24838](http://viewvc.slicer.org/viewvc.cgi/Slicer4?view=revision&revision=24838)

[2016-05-05 13:15] fedorov opened #41 "Mac: Shared lib load error on startup"
[code]

[2016-05-05 14:07] fedorov commented on #39
👍 @jcfr - svn error is gone

[2016-05-05 14:26] jcfr commented on #39
:smile:

That said .. it broke other extension like SPHARM-PDM . See [here](http://slicer.cdash.org/viewConfigure.php?buildid=822089&status=1). I will fix this.

As a side note, i also started a topic to improve `ctest` so that we can simplify the Slicer extension build system. See https://github.com/Kitware/CMake/compare/master...jcfr:reorganize-cmCTest

[2016-05-05 15:10] fedorov commented on #41
While using a locally built version, there is the following error (or warning?):

[code]

[2016-05-05 15:17] fedorov opened #42 "ShortCutEffect: "could not convert string to float" runtime error"
[code]

[2016-05-05 15:21] fedorov commented on #42
Verifying from python console, indeed "ShortCut,otsuRatio" parameter is not present in the Editor parameter node. See steps to reproduce in the screenshot below. @ebremer please investigate.

![image](https://cloud.githubusercontent.com/assets/313942/15047564/7b174476-12b3-11e6-95b5-9b6259683858.png)

[2016-05-05 15:35] fedorov commented on #41
No similar errors while running Slicer/SlicerPathology binary on Linux.

[2016-05-05 21:11] naucoin commented on #41
@fedorov fyi: the warnings about CVWindow, CVView and CVSlider are due to repeated code in SlicerPathology, I think they're covered in the code cleanup issue.

[2016-05-05 21:19] naucoin commented on #39
@jcfr The latest commit to SlicerOpenCV fixes the error I posted in my last comment.
https://github.com/SBU-BMI/SlicerOpenCV/commit/57045d9a67469ac42a5f0ebe90f871006bd003f4

[2016-05-05 21:49] naucoin commented on #42
@fedorov  and @ebremer  I was trying to debug something else and put in a quick patch to get around this error, pull request is https://github.com/SBU-BMI/SlicerPathology/pull/43

[2016-05-06 18:51] fedorov commented on #41
Same issue being investigated here: https://github.com/SBU-BMI/SlicerOpenCV/issues/30

[2016-06-02 19:31] fedorov opened #45 "Review ShortCutEffect and establish best practices recommendations for refactoring"
The code in question is here (this is the code developed by @gaoyi, and being integrated into SlicerPathology by @ebremer ):

https://github.com/SBU-BMI/SlicerPathology/blob/master/ShortCutEffect/ShortCutEffect.py

It does not look like it follows the Editor effect development pattern, which (I believe) causes troubles improving the usability of the effect (e.g., currently user needs to press a ke

[2016-06-02 21:33] pieper commented on #45
A few thoughts:

First it looks to me like there's a lot of leftover code in that class that
could be cleaned up.  Probably the best is to take a fresh approach by
looking at other effects and deciding how best to adapt the segmenter into
the Editor framework (the previous implementation always seemed to be
trying to shoehorn in the conventions from a stand-alone prototype and it
never worked very

[2016-06-03 00:09] fedorov commented on #45
Thank you Steve, this is helpful! I also thought starting from fresh might be good in the long term. It's a pity @ebremer won't be at the project week in Heidelberg to work on this refactoring with the Segment Editor team!

[2016-06-06 00:20] fedorov commented on #38
Would be really nice to have the icons in time for when we present this work in posters, slides and demos on June 13-14 at the face-to-face meeting ...

[2016-06-10 13:50] fedorov opened #46 "Dashboard build errors on Windows: "unable to match function definition""
http://slicer.cdash.org/viewBuildError.php?buildid=842535

[2016-06-16 18:55] ebremer commented on #37
1) Icons different now
2) button texted added
3) initial documentation done

[2016-06-16 18:55] #37 closed

[2016-06-16 19:28] ebremer commented on #38
replaced non-helpful or rough icons

[2016-06-21 19:43] ebremer commented on #46
BUG: Carried over itk::IndexValueType into SFLSSegmentor2D.hxx from SFLSSegmentor2D.h that JC added to the .h.

[2016-06-21 19:43] #46 closed

[2016-06-28 20:12] fedorov commented on #38
As of today's nightly build of Slicer, the SlicerPathology icon is still the default non-meaningful one.

![image](https://cloud.githubusercontent.com/assets/313942/16430728/1bb8c438-3d4b-11e6-9fff-9b7199018c34.png)

[2016-06-30 15:59] ebremer commented on #38
Where is this file stored?  I thought it was stored at the root level of the project in this file:
https://github.com/SBU-BMI/SlicerPathology/blob/master/SlicerPathology.png

[2016-06-30 16:01] fedorov commented on #38
It is whatever URL your s4ext points to, but it does point to the right location, so I am not quite sure why it is not updated in the ExtensionManager

https://github.com/Slicer/ExtensionsIndex/blob/master/SlicerPathology.s4ext#L31

[2016-07-07 20:53] fedorov opened #47 "SlicerPathology not available on Windows"
As of today, there is no record of SlicerPathology being built on Windows:

http://slicer.cdash.org/index.php?project=Slicer4&date=2016-07-07

It is not clear when this started to happen.

@jcfr any hints on how to debug this?

[2016-07-07 21:01] fedorov commented on #47
@ebremer: to clarify, our ability to debug this is complicated because the only way to do this sometime is to physically log into the dashboard machine that exhibits strange behavior. Only @jcfr can do this.

@naucoin: do you still have the setup that allows you to build the extension on Windows? Would it be very hard to check if things work as expected?

[2016-07-07 21:54] naucoin commented on #47
@fedorov Yes, I can set off a Slicer build and do SlicerPathology in the morning.
Spoke a bit too soon, the community version of visual studio that I had installed was a time limited free trial, I'll work on getting that updated.
@jcfr posted to the mailing list that the Windows factory machine was going to be offline until at least Monday.

[2016-07-11 18:24] fedorov opened #49 "Numerous build errors on Mac and Linux - extension is expected to be unavailable to the users"
![image](https://cloud.githubusercontent.com/assets/313942/16741847/1e1cf87a-4773-11e6-9c20-1025a82b99e2.png)

[2016-07-11 18:24] fedorov commented on #49
http://slicer.cdash.org/index.php?project=Slicer4&display=project

[2016-07-11 18:25] fedorov commented on #49
@naucoin can help @ebremer look into this?

[2016-07-11 18:27] fedorov commented on #47
@naucoin any updates on the windows build?

I may be wrong, but I think @jcfr announcement came after I discovered this issue.

[2016-07-11 19:33] naucoin commented on #49
Looking into it now, suspecting VTKv7 migration issues.

[2016-07-11 19:34] naucoin commented on #47
Still trying to get Slicer OpenCV to build on windows.

[2016-07-11 19:34] fedorov commented on #47
for the reference, issue reported on slicer-devel http://slicer-devel.65872.n3.nabble.com/Extension-problem-Windows-build-is-missing-on-the-dashboard-td4036943.html

[2016-07-21 19:17] fedorov commented on #49
errors for linux: http://slicer.cdash.org/viewBuildError.php?buildid=864970

Slicer r25242

[2016-07-21 19:20] ebremer commented on #49
Compiled on Ubuntu 16.x as of today

[2016-07-21 19:22] ebremer commented on #49
trunk@25237

[2016-07-22 10:56] fedorov commented on #38
for the explanation of the fix, see http://slicer-devel.65872.n3.nabble.com/Extension-icon-does-not-render-in-ExtensionManager-td4036984.html

[2016-07-25 19:40] ebremer commented on #49
Compiles and runs fine on an clean Ubuntu 14.x machine

[2016-07-28 13:41] #38 closed

[2016-08-01 22:49] naucoin commented on #49
Determined so far on sentinelle:
- SlicerPathology builds stand alone succesfully
- SlicerPathology fails to build when done via the ExtensionsIndex method because that build process is over riding the CMakeLists.txt command to not wrap certain files when doing the python wrapping.

There is a change in VTK7 to allow using WRAP_EXCLUDE_PYTHON not just a general WRAP_EXCLUDE command, but that gets

[2016-08-02 00:15] fedorov commented on #49
Sounds promising, thanks for investigating this!

I see, I reset it from master. We should change it to point to master.

[2016-08-02 15:01] fedorov commented on #47
@naucoin what is the status of this issue?

[2016-08-02 15:29] naucoin commented on #47
Rebuilding again to try and get around a release/debug library problem in getting SlicerOpenCV to build on yaz.

[2016-08-18 18:38] fedorov commented on #39
not needed, since dashboards are working now

[2016-08-18 18:38] #39 closed

[2016-08-18 18:38] fedorov commented on #41
resolved long time ago

[2016-08-18 18:38] #41 closed

[2016-08-18 18:39] fedorov commented on #35
not reproducible

[2016-08-18 18:39] #35 closed

[2016-08-18 18:39] fedorov commented on #36
confirmed working on mac

[2016-08-18 18:39] #36 closed

[2016-08-18 18:41] fedorov commented on #45
I don't think we can complete this by the end of the project (Sept 1), especially considering that Segmentation Editor is still not totally finalized. Postponing until another day!

[2016-08-18 18:41] fedorov commented on #49
resolved, @naucoin will add details

[2016-08-18 18:41] fedorov commented on #47
resolved, @naucoin will add details and close

[2016-08-18 18:47] naucoin commented on #49
The pull request above fixed building SlicerPathology, and this change to Slicer fixed the failing tests on Windows for SlicerOpenCV:
https://github.com/Slicer/Slicer/commit/96c1d59ed0b2847e3c526be8063ca786429a92bf
so now SlicerPathology is building on the factory on windows.

[2016-08-18 18:47] #49 closed

[2016-08-18 18:48] naucoin commented on #47
This commit fixes the SlicerOpenCV tests which lets SlicerPathology build on Windows:
https://github.com/Slicer/Slicer/commit/96c1d59ed0b2847e3c526be8063ca786429a92bf

[2016-08-18 18:48] #47 closed

[2016-08-18 19:27] naucoin commented on #42
Fixed by:
https://github.com/SBU-BMI/SlicerPathology/pull/43

[2016-08-18 19:27] #42 closed

[2017-02-27 14:20] ebremer opened #51 "Make sure SlicerPathology Builds against Slicer QT5 version"

[2017-02-27 14:21] ebremer opened #52 "Use webkit to enable OAuth 2.0 authentication"

[2017-02-27 14:21] ebremer opened #53 "Posting of binary results to QUIP backend"

[2017-02-27 14:22] ebremer commented on #52
Need QT5 version of Slicer

[2017-02-27 14:23] ebremer opened #54 "Change references to tiling engine from IIP to Emory engine"

[2017-02-27 14:24] ebremer opened #55 "Change MPP to magnification levels 2,4. 10, 20, and 40x"

[2017-02-27 14:25] ebremer opened #56 "Images loaded from web are loaded and displayed 180 around z-axis"

[2017-02-27 14:26] ebremer opened #57 "Oversegmentation with toggle outlone on leaves user thinking image is undersegmented"

[2017-02-27 14:27] ebremer opened #58 "Per-segmentation layer comments"

[2017-02-27 14:27] ebremer opened #59 "Make Slicer "handle" widget displays larger"

[2017-03-08 15:33] tdiprima opened #61 "Unintended indentation L261-L262"
@ebremer It looks these those 2 lines need to be outdented.  Because we're done with the `if ei not in params` block.  Please have a look & confirm &mdash; in function [updateSliders()](https://github.com/SBU-BMI/SlicerPathology/blob/master/QuickTCGAEffect/QuickTCGAEffect.py#L348-L349).

[2017-03-08 15:54] tdiprima commented on #45
I'll take a look.

[2017-03-08 17:09] tdiprima opened #62 "Update segmentation code"
Update based on [pathomics_analysis](https://github.com/SBU-BMI/pathomics_analysis).

[2017-03-09 17:48] tdiprima commented on #61
I meant to make a branch but I accidentally hit the button before it let me create a branch, so it went into `master` by mistake. :(

So I reverted your code to the way you originally had it.

But, I still think those 2 lines need to be outdented.

Because right now, it reads:

[code]
Whereas it probably should be the same as the function below it:
[code]

[2017-03-10 19:03] tdiprima opened #63 "Unreachable code: ShortCutEffect.py"
Function **[runQTCGA_Template()](https://github.com/SBU-BMI/SlicerPathology/blob/master/ShortCutEffect/ShortCutEffect.py#L547-L548)** is defined, and then returns straight away.  So the rest of the [code](https://github.com/SBU-BMI/SlicerPathology/blob/master/ShortCutEffect/ShortCutEffect.py#L549-L571) in this function is never called.

Same thing with **[runQTCGA_Refine_Curvature()](https://githu

[2017-03-10 19:05] fedorov commented on #63
@tdiprima no one at our side was directly involved in writing that code. The question is to @ebremer and @gaoyi.

[2017-03-10 19:08] tdiprima commented on #45
@pieper quick question &mdash; I'm new to the project and I was wondering what you meant by "leftover code".  I just found two functions that don't do anything; they just return.  ([runQTCGA_Template()](https://github.com/SBU-BMI/SlicerPathology/blob/master/ShortCutEffect/ShortCutEffect.py#L547-L548) and [runQTCGA_Refine_Curvature()](https://github.com/SBU-BMI/SlicerPathology/blob/master/ShortCutE

[2017-03-10 19:10] tdiprima commented on #63
@fedorov OK thanks.  I was looking at the "contributors" on that code.  That's why I asked.  Sorry to bother you.

[2017-03-10 19:16] fedorov commented on #63
Tammy, you don't bother me - I just wanted to clarify.

It is difficult to trace the history of this code, since it was not originally developed in git/github, so even "Blame" feature (you found it, right?) does not help here.

![image](https://cloud.githubusercontent.com/assets/313942/23809583/340aba90-059c-11e7-8fa8-53cb6294e125.png)

[2017-03-10 19:19] pieper commented on #45
@tdiprima I haven't looked in a while, but yes, I think some code that is basically stubbed out should probably be cleaned up.  Also there are big blocks of commented out code.

Good to see this code being worked on again.  Now that the segment editor has matured it may be even easier to integrate.

[2017-03-10 19:28] fedorov commented on #45
@tdiprima before you start refining the code, it is a good idea to make sure the testing you have in place is sufficient to detect regressions that are likely to happen in the process of refactoring.

[2017-03-10 20:09] tdiprima commented on #45
Andrey, yes.  Thank you again.  You're right.  Erich and I were just talking about that.
Steve, ok good... thank you for responding :)

[2017-03-10 20:12] tdiprima commented on #63
Yes, exactly :)

[2017-03-22 22:22] tdiprima opened #67 "segmentation overlay went missing..."
We were assigned the task of updating the SlicerPathology code with Yi's current public code.  So I updated the code, and everything was working fine.

But then I realized `utilityTileAnalysis` had to be swapped in place of `ProcessTileUtils`, because utilityTileAnalysis does all the fun things that Yi added to make it work right.  (No segmentation inside segmentation, etc.)

So, once I did that,

[2017-03-23 18:20] tdiprima commented on #67
I figured it out.  The new segmentation passes back a mask that's 0 and 255.  The original mask that gets generated is 0 and 1.  So it's probably not recognizing it.

[2017-03-23 21:46] tdiprima commented on #67
Fixed on the `develop` branch.

[2017-03-23 21:46] #67 closed

[2017-03-24 13:59] tdiprima opened #68 "Yi added a fix to pathomics_analysis"
Integrate fix and test.
[utilityTileAnalysis](https://github.com/SBU-BMI/pathomics_analysis/commit/7713aa6f664cb69773d6cbfbaf7f67700638f4ec)

[2017-03-24 16:44] tdiprima commented on #68
Done.  Merged into `develop` branch.

[2017-03-24 16:44] #68 closed

[2017-04-04 17:26] tdiprima commented on #62
v1.1

[2017-04-04 17:26] #62 closed

[2017-04-05 13:05] tdiprima opened #72 "SlicerPathology v1.2 nightly build"
@ebremer FYI, [v1.2](https://github.com/SBU-BMI/SlicerPathology/releases/tag/v1.2) is integrated into the [nightly build](https://github.com/Slicer/ExtensionsIndex/blob/master/SlicerPathology.s4ext) and the stable release [4.6](https://github.com/Slicer/ExtensionsIndex/blob/4.6/SlicerPathology.s4ext)

[2017-04-05 13:06] tdiprima commented on #72
@ebremer Can we change status from **[alpha](https://github.com/Slicer/ExtensionsIndex/blob/master/SlicerPathology.s4ext#L33-L35)** to **beta?**

[2017-05-01 16:12] tdiprima opened #78 "save error on Windows"
We're getting a "Permission denied" error on Windows because the slashes are backwards: u'C:/TCGA-3C-AALI-01Z-00-DX1_20170501094619.zip'

On Linux, the slashes go like this: /
On Windows, it's like this: \

But if you look at the error output... there ares slashes going both directions.

[code]

[2017-05-01 16:15] fedorov commented on #78
I don't know how you compose that path name, but in Python you can (should!) use [`os.path.join`](https://docs.python.org/2/library/os.path.html) to do this in a platform-safe way.

[2017-05-01 16:17] fedorov commented on #78
Although, looking at the error, I am not sure path separator is the cause. You are trying to access `C:/TCGA-3C-AALI-01Z-00-DX1_20170501094619.zip`. It is highly unlikely this is correct, and if it is correct - it should be fixed. You cannot expect to be able to save anything into top level of a system drive on Windows. It's not a good style, and you would need Admin permissions to do it...

[2017-05-01 17:28] tdiprima commented on #78
Thanks for the tip, @fedorov.  I'll have a go at it.

[2017-05-01 20:47] tdiprima commented on #78
### Update:

We have 2 issues:
1. We're adding a slash when building this file path
`os.path.join(self.resourcesPath, "Colors/SlicerPathology.csv")`
We should probably do a join, and another join.

2. When we get the output mask file name, we do
`os.path.join(self.dataDirButton.directory, labelName + '.tif')`
And that comes out to `./TCGA-41-3393-01Z-00-DX1...`
So it looks like Windows interprets

[2017-05-02 01:10] fedorov commented on #78
join takes arbitrary number of arguments, so it is easier:
[code]

[2017-05-02 14:49] tdiprima commented on #78
Right.  Or even `os.sep`.  Coolness!  Thank you.

**Update:**
I figured out what triggers [problem 2](https://github.com/SBU-BMI/SlicerPathology/issues/78#issuecomment-298428390)...
If the user doesn't change the data directory (class `ctkDirectoryButton`), when you ask it for it's `.directory`, it gives you: `.` Current directory in *nix.  But in Windows, that's not right.

[2017-05-02 14:49] #78 closed

[2017-05-03 13:40] tdiprima opened #80 "IOError when saving file on Windows"
**Example 1.** User segments an image.  Upon save, they get this message **(permission denied):**
[code]

**Example 2.** User realizes their mistake and changes their "Data dir" to their Documents folder.  Upon save, they get this output:
[code]

In the first example, the "Slicer 4.7.0-2017-05-02" directory is read-only, so the user cannot write to it (works on Linux, however).

In the second exam

[2017-05-03 21:33] tdiprima commented on #80
**Update:** Ran program on different machine, this time the error is more apparent (slash is the wrong way):
`C:/Users/Tammy DiPrima/Documents\TCGA-3C-AALI-01Z-00-DX1_20170503172837.zip`

[2017-05-04 14:13] tdiprima commented on #80
Normalizing file paths.

[2017-05-04 14:13] #80 closed

[2017-05-04 14:23] tdiprima opened #81 "Fix Errors: Windows & Mac"
Windows: `Cannot open include file: 'sys/time.h': No such file or directory`
Fix: Removed unused include.

Windows: `fatal error C1083: Cannot open include file: 'tr1/unordered_map': No such file or directory`
Fix: Added code to check for header file.

Mac: `pow(n,k) ambiguous`
Fix: Set to correct type.
Type safety issues, Normalization.cpp, utilityTileAnalysis.

[2017-05-04 14:23] tdiprima commented on #81
Fixed.

[2017-05-04 14:23] #81 closed

[2017-05-05 20:37] tdiprima opened #82 "Cannot write file"
Scenario: We're trying to write a zip file, for the user, to a directory of their choosing.
The procedure works on Linux and Mac, but not Windows.
The problem is, no matter what directory we try to write to on Windows, it doesn't want to write to any of them.

Let's say we try to write a zip file to the user's home folder.  The zip file gets created, but with zero bytes.

This is the error that oc

[2017-05-05 22:49] fedorov commented on #82
I don't know. What specific line fails? What is `UpdateFileList`?

The error message seems to suggest that you are failing to create a directory. Perhaps you are trying to save file to a non-existing directory.

[2017-05-08 12:35] tdiprima commented on #82
Hi @fedorov.  It's `UpdateFileList: Failed to create directoryTempWriteoriginal`.

At first, I thought the problem was the misinterpretation of the file path by Windows, as a result of `os.path.join`:
`C:/Users/superbear/Documents\TCGA-94-8490-01Z-00-DX1_45787_50834_500_500_LUSC_gray_20170508082717.zip`

So then, I fixed it (or so I thought) with a `os.path.normpath()` surrounding the `os.path.joi

[2017-05-11 08:26] tdiprima commented on #82
Normalizing the path did not resolve the issue.

[PTF:](https://github.com/SBU-BMI/SlicerPathology/blob/master/SlicerPathology/SlicerPathology.py#L332) `sNode.SetDataDirectory(self.dataDirButton.directory`)
Problem now is &ndash; the zip file contains a folder hierarchy for one particular file.  Not a bug, but it's not exactly what we had in mind.

The `permission denied` issue on Windows arises w

[2017-05-11 08:28] tdiprima opened #83 ""permission denied" on Windows"
The `permission denied` issue on Windows arises when a user tries to write to the working directory (in this case "Program Files\Slicer...").

Set the default data directory to the user's home folder; not the working directory.

(Will work if user starts Slicer as admin.)

[2017-05-11 08:29] tdiprima opened #84 "Loading image from web"
Loading image from web fails if user forgets to fetch the image from the web first.  (In the case where the user simply clicks the wrong button.)  Check for open image first.

[2017-05-11 10:34] fedorov commented on #82
Why do you write to working directory? Why not Slicer temporary directory?

[2017-05-11 12:38] tdiprima commented on #82
We didn't know any better.  I'll look for an example.
btw... slicer nightly didn't build last night?  it's still showing the old code from May 6th.  Our new code is in v1.2.4, which is in the extensions index.

[2017-05-11 12:45] fedorov commented on #82
Here is an example: https://github.com/SlicerProstate/mpReview/blob/master/mpReview.py#L97

Slicer did build last night, and so did your extension. Search for SlicerPathology on this page to confirm: http://slicer.cdash.org/index.php?project=Slicer4&date=2017-05-10.

[2017-05-11 12:49] tdiprima commented on #82
Thanks.
Yes, I misspoke.  Sorry.  Darn it... was hoping you didn't see that yet. :)  Oh well.

[2017-05-11 12:49] fedorov commented on #83
You should always use Slicer temporary directory, and create a sub-directory for your extension, to store any temporary data that is needed by your extension. Slicer temporary directory location is in `slicer.app.temporaryPath`.

xref https://github.com/SBU-BMI/SlicerPathology/issues/82#issuecomment-300777732

[2017-05-11 12:51] fedorov commented on #82
No worries! I am happy to help, especially when it's just a quick and easy hint, it's no problem.

[2017-05-11 19:43] tdiprima opened #85 "Loading image from disk"
"Load Image from disk" should check that the input file is an image.

[2017-05-15 20:14] tdiprima commented on #82
Fixed.  See #83
Also, the issue from above ("zip file contains folder hierarchy...") is also fixed.

[2017-05-15 20:14] #82 closed

[2017-05-15 20:19] tdiprima commented on #83
**Fixed.**
1. Using **Slicer temporary directory**, creating sub-directory for our extension
2. `ctkDirectoryButton` &ndash; By default, directory is the current working directory[(*)](http://www.commontk.org/docs/html/classctkDirectoryButton.html).
    - We are setting **default to user's home** directory (*nix & Windows compatible)

[2017-05-15 20:19] #83 closed

[2017-05-16 19:51] tdiprima opened #86 "Restore Session"
If you click "Restore Session" and then hit "Cancel", there's an error.

[2017-05-16 20:09] tdiprima commented on #86
Fixed.  Checking for '' when return back from `qt.QFileDialog.getOpenFileName`

[2017-05-17 20:36] tdiprima commented on #84
Fixed.

[2017-05-17 20:41] tdiprima commented on #49
I resolved the Linux/Mac/Windows compiler issues some time at the end of April 2017.
Additionally, the Mac and Windows compile errors were fixed in #81.

[2017-05-17 20:43] tdiprima commented on #72
We're past v1.2.  Many bugs have been fixed.  Others remaining will be resolved shortly.

[2017-05-17 20:43] #72 closed

[2017-05-17 20:45] tdiprima opened #87 "Load image from web after segmentation"
If you load an image from the web, and then segment and save it, and then load another image from the web, a modal should pop up saying, "doing so will clear the current segmentation do you wish to continue".  Currently, an error is thrown.

[2017-05-17 20:59] tdiprima commented on #81
I took some time to clean up the numerous compile warnings.  And also the errors.  I didn't see issue 49 until today.

[2017-05-17 21:09] #84 closed

[2017-05-18 20:54] tdiprima opened #88 "self.dirty"
@ebremer I believe the `self.dirty` variable is involved in a problem I'm trying to solve.  What did you intend this variable to mean?

To me, it looks like the variable is intended to flag whether or not the user has *saved* their work.

However, in function `onWIP3ButtonClicked()`, the variable is set to true.  WIP3 loads the user-selected-web-image to the red viewer.  So that doesn't necessaril

[2017-05-19 20:44] #87 closed

[2017-05-19 20:45] tdiprima commented on #88
Assuming it means "image loaded".

[2017-05-19 20:45] #88 closed

[2017-05-19 20:47] #85 closed

[2017-05-19 20:47] #86 closed

[2017-05-24 14:22] tdiprima opened #89 "need little info dialog"
When you save a zip in Slicer, there's nothing to indicate that it's done saving.  Other than Python output.

[2017-05-24 15:50] #89 closed

[2017-05-30 20:58] #63 closed

[2017-05-31 15:14] tdiprima opened #90 "ShortCutEffect"
`ShortCutCoreSegmenter::DoSegmentation()` fails at [namedWindow](https://github.com/SBU-BMI/SlicerPathology/blob/master/ShortCutCore/Logic/ShortCutCoreSegmenter.cxx#L132).

Not sure why this is failing.  Thinking of possibilities &ndash; did SlicerOpenCV not handle the window-display-type functions?  We we waiting for this?  Maybe it worked when compiling with OpenCV directly somehow?  I don't kno

[2017-05-31 15:33] tdiprima commented on #90
`ShortCutEffect` module hasn't been updated in a long time.  `SlicerPathology` module took over some of the things that `ShortCutEffect` used to do (segmentation parameters).  Was wondering if `SlicerPathology` in fact supersedes `ShortCutEffect`?  Does anyone know? @gaoyi @ebremer

[2017-05-31 16:50] tdiprima commented on #90
Update: It's failing on [runQTCGA_Segmentation](https://github.com/SBU-BMI/SlicerPathology/blob/master/ShortCutEffect/ShortCutEffect.py#L524), so I think I have an idea.  Checking into...

[2017-06-01 20:46] #61 closed

[2017-06-02 13:43] tdiprima commented on #59
@ebremer SetHandleSize was already set to 10, on the sliders, before this issue was written.  Are we talking about something else, or can I close this issue?

_(BTW, even if I change the size to something ridiculous, like 9000 (as in, "It's over 9000!!") the display looks exactly the same.)_

[2017-06-02 13:44] tdiprima commented on #58
@ebremer please describe?

[2017-06-02 13:48] tdiprima commented on #57
@ebremer please describe.  I cannot reproduce the issue.

[2017-06-02 14:09] tdiprima commented on #56
Image is **_transposed_**.  Will work on it...

### Example

#### Web

![web](https://cloud.githubusercontent.com/assets/4490270/26729374/732ad00e-477b-11e7-9d5a-1c63bdb89f6e.jpg)

#### Slicer Red Viewer

![r view](https://cloud.githubusercontent.com/assets/4490270/26729384/8064ae84-477b-11e7-95b1-e0d2d0b21cc7.jpg)

[2017-06-02 14:56] tdiprima opened #91 "incorporate pathomics mods"
### Todo:

1. Incorporate Tahsin's changes to pathomics (see files changed, below)
2. ~~Remove utilityTileAnalysis.cxx (here), and keep only utilityTileAnalysis.h.~~ &ndash; Scratch this; see #92
3. Add Logger.*
4. Handle the pixel transform another way other than removing it from the codebase.

**Files:**
utilityTileAnalysis.h
utilityScalarImage.h
TypeUtils.h
PixelOperations.h
PixelOperations.cpp

[2017-06-02 16:49] tdiprima opened #92 "utilityTileAnalysis"
Related: #91

We want to put all the cpp source in the header file, and delete the source file.  Reason: have it be exactly like pathomics analysis.

Problem: The `#include itkOpenCVImageBridge.h` compiles as long as it's in the source file.  If I put in in the header file, I get:

It's a common error.  I Googled it.  But the advice is to set `Module_ITKVideoBridgeOpenCV` on when compiling ITK (wh

[2017-06-02 17:05] tdiprima opened #93 "ExternalProject_Add"
Include [pathomics_analysis](https://github.com/SBU-BMI/pathomics_analysis) as CMake [ExternalProject](https://cmake.org/cmake/help/v3.0/module/ExternalProject.html).  Add any shims to retrofit it to SlicerPathology.  (One, for example, being undoing the 1 to 255 transform in [utilityTileAnalysis.h](https://github.com/SBU-BMI/pathomics_analysis/blob/master/nucleusSegmentation/src/include/utilityTi

[2017-06-02 18:28] tdiprima commented on #8
Superseded by #93

[2017-06-02 18:28] #8 closed

[2017-06-02 18:42] #7 closed

[2017-06-02 19:16] tdiprima commented on #90
Fixed #7 , and the error went away.

[2017-06-02 19:16] #90 closed

[2017-06-02 19:19] tdiprima opened #94 "ShortCutEffect behavior"
After clicking 'S' and window opens, Slicer grows dim and exits.

[2017-06-02 19:20] tdiprima commented on #9
Superseded by #93

[2017-06-02 19:20] #9 closed

[2017-06-02 19:29] tdiprima commented on #54
@ebremer to what location should [this URL](https://github.com/SBU-BMI/SlicerPathology/blob/master/SlicerPathology/SlicerPathology.py#L630) point?
There is only one reference to IIP, and it's in `SlicerPathology.py`.

[2017-06-02 19:36] tdiprima commented on #55
@ebremer 2, 4, 10, 20, and 40x, and what should the increment be?  I'm hoping you meant 2, **5,** 10, 20, and 40x.

[2017-06-02 20:28] tdiprima commented on #92
Well, that explains it...

@lassoan's answer:

[2017-06-02 20:31] #92 closed

[2017-06-03 16:37] tdiprima commented on #91
Because the code I was merging, is using gettimeofday (whereas originally I commented this part out) I needed to add the header file `time_win.h`.
Fixed.

[2017-06-03 16:37] #91 closed

[2017-06-07 14:49] tdiprima opened #95 "tooltip"
Add tooltip to combo-box.

![tooltip](https://user-images.githubusercontent.com/4490270/26884884-e33f06f2-4b6e-11e7-8897-09ea2692d409.jpg)

[2017-06-07 15:00] tdiprima opened #96 "Implement Watershed Declumping"
Implemented Watershed Declumping
Mar 30, 2017
Commit [25e0774](https://github.com/SBU-BMI/SlicerPathology/commit/25e0774b93288ff0ea6826dc9c8244f242c1e06e)

[2017-06-07 15:01] #96 closed

[2017-06-07 15:06] tdiprima commented on #95
Implemented on Mar 30, 2017 &ndash; Commit [25e0774](https://github.com/SBU-BMI/SlicerPathology/commit/25e0774b93288ff0ea6826dc9c8244f242c1e06e)

[2017-06-07 15:07] #95 closed

[2017-09-15 21:02] tdiprima opened #97 "grayscale not lining up with original tile"
Fix image spacing
Auto-scale the display

[2017-09-15 21:03] #97 closed

[2017-09-15 21:04] tdiprima commented on #97
Commit [#778451c](https://github.com/SBU-BMI/SlicerPathology/commit/778451c4b4f3134c8c6a5567f7af6d1ef223552f)

[2017-09-29 20:01] tdiprima opened #98 "Grayscale image won't open in Photoshop"
Commit

[2017-09-29 20:02] #98 closed

[2018-03-08 18:17] pieper opened #100 "Module won't start - testing code committed by accident?"
It looks like some code was added that doesn't belong:
https://github.com/SBU-BMI/SlicerPathology/blame/master/SlicerPathology/SlicerPathology.py#L749-L783

It's leading to the issue described here:

https://discourse.slicer.org/t/pathology-module-install-fail-due-to-slicewidget-attribute-error/2269/4

[2018-04-11 06:23] mingrui opened #101 "Bug: the extension doesn't show up in 3DSlicer drop down menu"
3D Slicer 4.8.1

[code]

![selection_039](https://user-images.githubusercontent.com/699276/38599620-c7bb5652-3d93-11e8-94ef-54f1f4cece5a.png)

[2018-04-11 06:52] mingrui commented on #101
found this solution similar to this, the problem is with indentation, you need to use 4 spaces as indentation on these lines:

(Do NOT follow solution in this thread, if you comment out these lines, you won't be able to load png files.)
https://discourse.slicer.org/t/pathology-module-install-fail-due-to-slicewidget-attribute-error/2269

This is the correct solution, just indent these lines
![selec

[2018-04-11 06:52] #101 closed

[2018-04-11 10:30] mingrui commented on #100
@pieper

Please see here, the problem is with indentation, you need to use 4 spaces and indent these lines

https://github.com/SBU-BMI/SlicerPathology/issues/101

[2018-04-11 18:45] fedorov commented on #100
@mingrui whether it's dead code, or code that was not properly indented - it must be fixed for the module to be functional.

Hopefully someone from @SBU-BMI/applied-informatics will look into it, or perhaps this module is no longer maintained - I am not sure.

[2018-05-24 18:51] #100 closed

[2018-05-24 19:05] fedorov commented on #100
Thanks! I haven't tested the updated code, but I hope it works now!

[2018-05-29 18:16] jcfr opened #102 "Fix build error against Slicer trunk"
### macOS

See http://slicer.cdash.org/viewBuildError.php?buildid=1281642

[code]

See below.

### Linux

See http://slicer.cdash.org/viewBuildError.php?buildid=1281331

[code]

I suggest to explicitly exclude the header from the wrapping. For example, see https://github.com/Slicer/Slicer/blob/d258a316fcdf4bd91098a4faf3c32ffa4ebdc094/Libs/vtkAddon/CMakeLists.txt#L76-L80

### Windows

See http://sl

[2020-04-30 22:37] lassoan opened #103 "Remove dependency on deprecated Slicer core modules"
We are planning to remove Slicer core modules that have been superseded by other modules.
https://discourse.slicer.org/t/removing-legacy-modules-in-slicer5/11371

We have noticed that this extension currently uses legacy editor module, instead of the current Segment Editor module.

If you want your extension to be available for the upcoming Slicer5 release, please remove dependency to deprecated m